<!--ATUALIZADO COM OS GAMMA 27 E 28-->
{% extends "base.html" %}
{% block title %}Editar Reserva{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-header bg-warning text-dark">
        <i class="bi bi-pencil-square"></i> Editar Reserva
    </div>

    <div class="card-body">

        {% if erro %}
        <div class="alert alert-danger">{{ erro }}</div>
        {% endif %}

        <form action="/editar-reserva/{{ r.id }}" method="POST">

            <div class="mb-3">
                <label class="form-label">Recurso</label>
                <select name="recurso_id" class="form-control" required>
                    {% for rc in recursos %}
                        <option value="{{ rc.id }}" {% if rc.id == r.recurso_id %}selected{% endif %}>
                            {{ rc.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Data</label>
                <input class="form-control" type="date" name="data" value="{{ r.data }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Hora</label>
                <input class="form-control" type="time" name="hora" value="{{ r.hora }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Observações</label>
                <textarea class="form-control" name="observacoes">{{ r.observacoes }}</textarea>
            </div>

            <button class="btn btn-primary">
                <i class="bi bi-check-circle"></i> Guardar Alterações
            </button>

            <a href="/reservas" class="btn btn-secondary ms-2">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>

        </form>

    </div>
</div>

{% endblock %}
